.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.comments {
  font-size: 1rem;
}

.likes {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1rem;
}

.underline {
  position: absolute;
  bottom: 0;
  border: 1px solid #767676;
  width: 100%;
}
